@using TechJobs6Persistent.ViewModels
@model AddJobViewModel



<h1>Add Job</h1>

<form asp-controller="Job" asp-action="Add" method="post">
    <div class="form-group">    
        <label>Name</label>
        <input asp-for="JobName" class="form-control" />
        <span asp-validation-for="JobName" class="text-danger"></span>
    </div>
    <br />
    
    <div class="form-group">
        <label>Employer</label>
         <input asp-for="Employers" class="form-control" />
        <option  asp-for="@Employer">Employer</option>
    </div>
   
    


    <input type="submit" value="Add Job" />
     <br />
    <p><a asp-controller="Employer" asp-action="Create">Add new Employer</a></p>
</form>